<div class="modal-content col-sm-8 col-sm-offset-2">
	<div class="modal-header">
		<h4 class="modal-title text-danger"><%= t('apipie.oops') %></h4>
	</div>
	<div class="modal-body">
		<p class="h5 text-muted">
			<% if @resource == 'null' %>
				<%= t('apipie.resource_not_found_html', :resource => "<code>#{params[:resource]}</code>") %>
			<% else %>
				<%= t('apipie.method_not_found_html', :resource => "<code>#{params[:resource]}</code>",
						:method => "<code>#{params[:resource]}</code>") %>
			<% end %>
		</p>
	</div>
	<div class="modal-footer">
		<a href="/doc" class="btn btn-primary">Retour à l'accueil</a>
	</div>
</div>
