
@import "bootstrap/bootstrap.less";
@import "bootswatch/variables.less";
@import "bootswatch/bootswatch.less";

@body-green: #436435;
// @text-color: #fff;
// @link-color: #53a634;
// @link-hover: #30a01c;

body {
	background-color: @body-green;
}
.logo {
	text-align: center;
	margin-bottom: 2em;
	img {margin: auto;}
}

.label.get {background-color: @brand-success;}
.label.post {background-color: @brand-info;}
.label.delete {background-color: @brand-danger;}
.label.put {background-color: @brand-warning;}