<!DOCTYPE html>
<html>
<head>
	<title><%= t('apipie.api_documentation') %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link type='text/css' rel='stylesheet' href='/main.min.css'>
	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body data-spy="scroll" data-target="#scrollspy">
	<div class='container' id='container'>
		<div class="row">
		<div class="logo">
			<img class="img-responsive" src="/img/logo.png" alt="CaritatHelp">
		</div>
			<%= yield %>
			<%= render 'disqus' if Apipie.configuration.use_disqus? %>
		</div>
	</div>
	<%= Apipie.include_javascripts %>
	<script src="/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script src="/main.min.js"></script>
</body>
</html>
